@value mediaQuery from '../../common/colors.css';

.maker {
  width: 100%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
