@value makerBlack from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';

.header {
  display: block;
  font-size: 3rem;
  background-color: makerGreen;
}

.logo {
  display: block;
  margin: auto;
}

.title {
  color: makerWhite;
  text-align: center;
}
