@value makerBlack from '../../common/colors.css';
@value makerGrey from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';

.header {
  font-size: 3rem;
  background-color: makerWheat;
}

.title {
  color: makerWhite;
  text-align: center;
}
