@value makerBlack from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';

.header {
  display: flex;
  flex-wrap: wrap;
  font-size: 3rem;
  background-color: makerGreen;
}

.logo {
  margin: 0.5rem auto;
}

.title {
  color: makerWhite;
  text-align: center;
}
