@value makerGrey from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: makerGrey;
  padding: 2rem;
}

.loginList {
  width: 40rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: makerWhite;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.title {
  magin: 0.5rem;
}
