@value makerWheat, makerColorful, makerBlack, makerWhite from '../../common/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  background-color: yellow;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0.2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  max-width: 30rem;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 02em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height:2px
  color: makerWheat;
}
