@value makerBlack from '../../common/colors.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  border-radius: 0.5em;
  width: 100%;
  background-color: makerBlack;
  margin: 0 0 1rem 0;
  padding: 0.2rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
